body {
  background-image: url(../pictures/fon.png);
  margin: 0;
  font-family: 'Comfortaa', Comfortaa;	
  scroll-behavior: smooth;
  overflow-x: hidden;

  transition: color 0.3s, border-radius 0.2s, background-color 0.3s ease;
}

.banner {
  width: 85%;
  height: 550px;
  padding: 20px;
  background-image: url(../pictures/index-banner.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  margin: 30px auto;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #34579f;

  border: 4px solid #f0ffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner h1 {
  text-align: left;
  color: #ffffff;
  padding: 10px 0px 15px 10px;
  margin-bottom: -10px;

  position: relative;
  display: inline-block;
  z-index: 2;

  width: 50%;

  font-size: 2rem;
  font-weight: bold;
}

.banner p {
  text-align: left;
  color: #ffffff;
  padding: -15px 25px 10px 25px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.25rem;

  position: relative;
  display: inline-block;
  z-index: 2;

  width: 38%;
}

.stats {
  color: white;
  display:flex;
  justify-content: left;
  margin-top: 20px;  
  position: relative;
  }
 
 .stat-item {
   margin: 0 20px;
   }
   
 .stat-number {
   font-size: 3em;
   font-weight: bold;   
   display: inline-block;
   
   z-index: 2;
   width: 45%;
   height: 0;
   }
   
 .stat-text {
   font-size: 1.5em;   
   display: inline-block;
   z-index: 2;
 
   width: 20%;
   height: 0px;
   } 

  .two{
    margin-left: 20px;
  } 
  

.info {
  height: 70%;
  width: 95%;
  border-radius: 12px;
  margin: 60px 20px;
  display: flex;
  align-items: center;
  line-height: 1.6;
}

.info img {
  height: 80%;
  width: 80%;
  margin: 30px 0 30px 40px;
  border: 4px solid #f0ffff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #34579f; 
}

 .info_text {
  padding: 30px 0 30px 30px;
  margin: 20px; 
  
  background-color: #f0ffff;
  border: 3px solid #34579f;
  box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #34579f;
  border-radius: 25px;
} 

.info_text p {
  width: 95%;
  color: #0a111c;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: 1rem;
  text-indent: 10pt;
}


.planets {
  padding-top: 50px ;
  padding-bottom: 50px;

  background-color: #f0ffff;
  height: 70%;
  width: 100%;
  box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #34579f;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 80px 0 60px 0;
  flex-wrap: wrap;
}

.planets h3 {
text-align: center;
}


.planets div, .planets .panel {
  height: 65%;
  width: 20%;
  border-radius: 8px;
  margin: 10px 5px;
  padding-top: 10px;
}

.planets .panel {
  border: 4px solid transparent;
}

.planets .panel:hover {
  background: linear-gradient(azure, azure) padding-box, linear-gradient(#0c141c, #0c1458, #34579f) border-box;
  border-radius: 20px;
  border: 4px solid transparent;

  box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #0a141c;
}

.planets .planet_border {
  height: 50%;
  width: 60%;
  margin: 20px auto;

  background: radial-gradient( #0c141c, #0c1458, #34579f);
  box-shadow: 0px 4px 16px 0px #34579f, 0px -4px 16px 0px #34579f;
  border: 4px solid #f0ffff;
  border-radius: 12px;
}

.planet_border img {
  height: 100%;
  width: 100%;
}

.quiz {
  display: block;
  padding: 5px 7px;
  margin: 20px auto 40px auto;
  width: fit-content;

  background-color: #f0ffff;
  color: #0c1458;
  border: 3px solid #34579f;
  border-radius: 15px;
  box-shadow: 0px 6px 16px 0px #34579f, 0px -6px 16px 0px #34579f;
  
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.quiz {
  display: block;
  margin: 20px auto 40px auto;
  padding: 7px 10px;
  width: fit-content;
  font-size: 1.25rem;
  border-radius: 10px;
  border: 3px solid transparent;


  min-width: 40px;
  transition: color 0.3s, border-radius 0.2s, background-color 0.3s, box-shadow 0.3s ease;

  background: linear-gradient( #f0ffff, #f0ffff) padding-box, linear-gradient(#0c141c, #0c1458, #34579f) border-box;
  color: #0a111c;
}

.quiz:hover, .quiz:hover { 
  color: #f0ffff;
  background: linear-gradient(#0c141c, #0c1458, #34579f) padding-box, linear-gradient(#f0ffff, #f0ffff) border-box;
  box-shadow: 0px 1px 16px 0px #f0ffff, 0px -1px 16px 0px #f0ffff;
  border-color: transparent;

}

.quiz:active { 
  opacity: 0.6;
}


@media screen and (max-width: 942px) {

  .info {
    margin: 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .info_images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .info img {
    height: 80%;
    width: 40%;
    margin: 0 0 20px 0;

  }
  .info_text{
    width: 90%;
    padding: 10px;
  }
  .info_text p {
    width: 100%;
    
  }
  
}

@media screen and (max-width: 600px) {
   .info_images{
    flex-direction: column;
   }
   .info img{
     width: 70%;
     margin: 8px;
   }
   .panel{
    width: 45% !important;
   }
}