body {
  background-image: url(../pictures/fon.png);
  margin: 0;
  font-family: 'Comfortaa', Comfortaa;	
  scroll-behavior: smooth;
  overflow-x: hidden;

  transition: color 0.3s, border-radius 0.2s, background-color 0.3s ease;
}

.karta {
    width: 85%;
    height: auto;
    background-color: #f0ffff;
    padding: 10px 20px;
    margin: 40px auto;
    text-align: center;
  
    z-index: 1;
    box-shadow: 0px 8px 16px 0px #34579f, 0px -8px 16px 0px #34579f;
  
    border: 4px solid #34579f;
    border-radius: 12px;

    a {
    color: #34579f;
    text-decoration: underline;
    font-size: 1.25rem;
    display: block;
    margin: 10px auto;
    width: fit-content;
    }

    h3 a {
    font-size: 1.5rem;
    }

    a:hover {
    color: #0a111c;
    }

    a:active {
    opacity: 0.6; 
    }
  }