header {
    display: flex;
    margin: 5px;
    background-color: transparent;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
  
    height: 100px;
    width: 100%;
    margin-bottom: 70px;
  }

  .nav-lang {
    display: flex;
    flex-direction: column;
    margin: 30px 15px 0 25px;

  }

  .nav-lang i, .nav-lang i:hover {
    border: none;
    margin: 10px;
    cursor: pointer;
  }

  .nav-lang img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 100%;
    z-index: 4;
  }
  
  nav a {
    display: inline-block;
    padding: 0 3px;
    margin: 20px 5px 0 5px;
  
    height: 28px;
    width: 95px;

  
    cursor: pointer;
  
    position: sticky;
  
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-top: 3px rgb(255, 255, 255) solid;
    border-bottom: 3px rgb(255, 255, 255) solid;
    border-radius: 0;
  
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
  
    transition: color 0.3s, border-radius 0.1s, background-color 0.3s;
  }

  nav .system {
    width: 200px;
  }
  
  
  nav a:hover {
    border: 3px solid #f0ffff;
    border-radius: 10px;
  }
  
  nav a:active {
    color: rgb(169, 169, 169);
    opacity: 0.5;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0a111c;
  font-size: 1.25rem;
  z-index: 5;
  width: 375%;
  left: -325px;

  border-radius: 10px;
  border: 3px #f0ffff solid;
}

.dropdown-content a {
  border: none;
  margin: 5px;
}

.dropdown-content a:hover {
  background: none;
  border: none;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: flex;
  box-shadow: 0px 8px 16px 0px #f0ffff;
}




  

  @media screen and (max-width: 1078px) {
    .dropdown-content {
        width: 700%;
        left: -470px;
      
        border-radius: 10px;
        border: 3px #f0ffff solid;
      }
      .dropdown-content a{
        font-size: 16px;
        padding: 10px 0;
      }
      
  }
  @media screen and (max-width: 888px) {
    .dropdown:hover .dropdown-content {
        
        flex-direction: column;
      }
      .dropdown-content a{
        font-size: 16px;
        padding: 4px 0;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0a111c;
        width: 100%;
        z-index: 5;

        left: 0;
      
        border-radius: 10px;
        border: 3px #f0ffff solid;
      }
      
  }

  

  @media screen and (max-width: 600px) {
    .logo_div {
        height: 85px;
        width: 85px;
        left: 20px;
        top: 5px;
       
      }
      .logo {
        height: 85px;
        width: 85px;
      }
      .logo_div a:hover {
        height: 85px;
        width: 85px;
}

nav {
  flex-direction: column;
  height: 200px;
}
nav a {
    padding: 0;
    margin: 0 5px;
    height: 28px;
    width: 85px;
    top: 23px;
  }

  nav .dropdown {
    margin: 50px 5px 0 5px;
  }

  .nav-lang {
    margin: 20px 15px 0 -10px;
  }

  .nav-lang img {
    height: 35px;
    width: 35px;
  }
  }
  @media screen and (max-width: 462px){
    .logo_div {
        height: 70px;
        width: 70px;
        left: 12px;
        top: 5px;
       
      }
      .logo {
        height: 70px;
        width: 70px;
      }
      .logo_div a:hover {
        height: 70px;
        width: 70px;
   }
   nav a {
    padding: 0;
    margin: 0 2px;
    height: 22px;
    width: 70px;
    top: 23px;
   }
  }